@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Ubuntu&family=Varela+Round&family=Ysabeau&display=swap');

*{
    padding: 0;
    margin: 0;
}

.container{
    background-image: url('bg.jpg');
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 15px;
    right: 120px;
    font-size: 25px;
    font-weight: bold;
    color: brown;
    font-family: 'Bruno Ace SC', cursive;
}

#board{
    background: linear-gradient(rgb(103, 240, 103), rgb(134, 148, 148));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid green;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.snakeHead{
    background: linear-gradient(crimson, cyan);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 8px;

}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.snakeFood{
    background: linear-gradient(aqua, blue);
    border: .25vmin solid black;
    border-radius: 8px;
}